{% extends "hydroviewer/base.html" %}

{% load static %}
{% load tethys_gizmos %}
{% block import_gizmos %}
  {% import_gizmo_dependency date_picker %}
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }}{% endblock %}

{% block app_content %}
  <div id="map" class="map"></div>
{% endblock %}

{% block after_app_content %}
  {# Chart Modals #}
  <div class="modal fade" id="chart_modal" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
            <h2 class="modal-title">Streamflow Results</h2>
            <div id="request-status" class="load-status"></div>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs">
            <li class="active"><a id="forecast_tab_link" href="#forecast" class="nav-link active" data-bs-toggle="tab">Forecasts</a>
            </li>
            <li class="nav-item"><a id="historical_tab_link" href="#historical" class="nav-link" data-bs-toggle="tab">Retrospective</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="forecast">
              <div class="panel panel-default">
                <div id="forecast-date-selector">
                  <label for="forecast_date">Forecast Date: </label>
                  <select class="form-control" id="forecast_date" name="forecast_date">
                    {% for ymd, display in dates %}
                      <option value="{{ ymd }}">{{ display }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div id="forecastPlot"></div>
                <div id="fcEnsPlot"></div>
                <div id="fcProbTable"></div>
              </div>
            </div> <!-- /.tab-pane -->
            <div role="tabpanel" class="tab-pane" id="historical">
              <div class="panel panel-default">
                <div id="retroPlot" class="panel-body modal-chart"></div>
                <div id="dayAvgPlot" class="panel-body modal-chart"></div>
                <div id="monAvgPlot" class="panel-body modal-chart"></div>
                <div id="annAvgPlot" class="panel-body modal-chart"></div>
              </div>
            </div><!-- /.tab-pane -->
          </div>
        </div>
        <div class="modal-footer">
          <a class="btn btn-success" role="button" id="download-forecast-btn" target="_blank">Download Forecast</a>
          <a class="btn btn-success" role="button" id="download-historical-btn" target="_blank" style="display: none">Download
            Historical Data</a>
          {#          <button type="button" class="btn btn-info" id="resize_charts" onclick="app.fixChartSizes('forecasts')">Resize Chart</button>#}
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="about_modal" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
            <h1 style="text-align: center">About Map Data</h1>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <h2 style="text-align: center">GEOGLOWS ECMWF Streamflow Model Streams</h2>
          <div>
            GEOGLOWS is the Group on Earth Observations' Global Water Sustainability program. This tool is the viewer
            for the GEOGLOWS programs global hydrologic model, now on version 2. Please refer to the
            <a href="https://data.geoglows.org" target="_blank">data documentation site</a> and the
            <a href="https://geoglows.org" target="_blank">GEOGLOWS program home page</a> for more information.
            The model provides a few main outputs:
            <ul>
              <li>Daily 15 day ensemble forecasts at 3 hour time steps</li>
              <li>Retrospective simulation of daily average flows covering 1 January 2024 to the present with 5-12 days
                of lag
              </li>
              <li>GIS datasets for the streams and catchments</li>
              <li>Model configuration files</li>
              <li>River context information such as river names and country</li>
            </ul>
          </div>
          <h2 style="text-align: center">VIIRS 5-Day Composite Imagery</h2>
          <p>VIIRS imagery is a web mapping service layer derived from the VIIRS satellites' optical sensors.</p>
          <a href="https://www.star.nesdis.noaa.gov/jpss/images/Harvey/show/VIIRSFloodDetectionMapQuickGuide.pdf" target="_blank">VIIRS
            Flood Detection Map Quick Guide (PDF) (noaa.gov)</a><br>
          <a href="https://www.ssec.wisc.edu/flood-map-demo/" target="_blank">VIIRS Quick Start Guide/Flood Map Demo
            (wisc.edu)</a><br>
          <img src="{% static 'hydroviewer/images/VIIRS_legend.png' %}" alt="legend" style="width: 80%; margin: auto">
          <ul>
            <li>MS: missing data (transparent)</li>
            <li>LD: clear-sky land (brown)</li>
            <li>SI: supra-snow/ice water or mixed ice & water (purple)</li>
            <li>SN: snow cover(white)</li>
            <li>IC: river/lake ice cover (cyan)</li>
            <li>CL: cloud cover (grey)</li>
            <li>CS: cloud shadow and terrain shadow (dark grey)</li>
            <li>WA: open water (blue)</li>
            <li>0-100: floodwater fractions (light cyan to red)</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block styles %}
  {{ block.super }}
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
  <link
    rel="stylesheet"
    href="{% static 'hydroviewer/css/main.css' %}"
    crossorigin=""/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script>
    // URLS
    const endpoint = "{{ endpoint }}";

    const URL_getForecastData = "{% url 'hydroviewer:get-forecast' %}";
    const URL_getHistoricalData = "{% url 'hydroviewer:get-retrospective' %}";
    const URL_findReachID = "{% url 'hydroviewer:find-river' %}";

    const ESRI_LAYER_URL = "https://livefeeds2.arcgis.com/arcgis/rest/services/GEOGLOWS/GlobalWaterModel_Medium/MapServer";
    const VIIRS_LAYER_URL = "https://floods.ssec.wisc.edu/tiles/RIVER-FLDglobal-composite/{z}/{x}/{y}.png";
  </script>
  {# Leaflet #}
  <script
    src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
  <script
    src="https://unpkg.com/esri-leaflet@3.0.11/dist/esri-leaflet.js"
    integrity="sha512-qSE34Lz9JHdaPt3AZsi6L3dcqYHO9nnQEIxfrkgrRqqe+R0DPuAMu+j2vlb92zPka9O+XHZV4+9G5/rHT5ADsQ=="
    crossorigin=""></script>
  <script
    src="https://unpkg.com/esri-leaflet-vector@4.2.2/dist/esri-leaflet-vector.js"
    integrity="sha512-EBPUr/aLfZBYAFeLJ2WDvTYjjFKAOa6nlySW/EBEalUk+vCWJca51+QW8sa+R/Bg+Umzs7OkL6LyR/OlcjaXiA=="
    crossorigin=""></script>
  {# Plotly #}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{% static 'hydroviewer/js/main.js' %}"></script>
{% endblock %}
