html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    position: absolute;
}

.body-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-bar-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 25px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    height: 75px;
    flex-grow: 1;
}

.map {
    cursor: pointer;
    width: 100%;
    flex-grow: 1;
    min-height: 80%;
    height: calc(100% - 75px);
}

.controls-wrapper {
    height: auto;
    margin: auto;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.time-slider-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-overlay-element {
    background-color: rgba(255, 255, 255, 0.40);
    padding: 5px 10px;
}

.legend {
    bottom: 30px;
    right: 0;
    max-height: 90%;
    overflow-y: auto;
    margin: 5px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px #ddd solid;
}

.legend:hover {
    background: rgba(255, 255, 255, 0.9);
}

.load-status {
    text-align: center;
    font-weight: bold;
    padding: 0 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
}

.status-load {
    color: orange;
}

.status-ready {
    color: green;
}

.status-failed {
    color: red;
}

.status-clear {
    color: lightgrey;
    opacity: 25%;
}

.chart {
    height: fit-content;
    text-align: center;
    margin: 10px 0;
    width: 100%;
    max-width: 1200px;
    max-height: max(5in, 600px);
}

.controls-box {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.button-group {
    display: flex;
    flex-direction: column;
}

.download-buttons {
    justify-content: space-between;
}

.download-buttons > * {
    margin: 5px;
}

/* Override materialize css styles */
label {
    font-size: 1rem !important;
}

ul.dropdown-content {
    max-height: 400px;
}

.custom-toast-placement {
    position: fixed;
    top: 30% !important;
    text-align: center;
}

button {
    margin: 5px;
}

.modal.bottom-sheet {
    max-height: 75%;
}

/* on mobile screens, change the download-buttons class */
@media (max-width: 600px) {
    .download-buttons {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .modal .modal-content {
        padding: 10px;
    }

    .nav-bar-wrapper {
        padding: 0 13px;
    }
}